.ContactInfo{
   
   
   height: 90%;
   width: 30%;
   border-radius: 20px;
   border-color:blueviolet;
box-shadow: 20px grey;
background-color: rgb(199, 117, 45);
text-align: center;
}
.container-form{
    height: 90%;
    width: 30%;
    border-radius: 20px;
    border-color:blueviolet;
 box-shadow: 20px grey;
 background-color: rgb(199, 117, 45);
 text-align: center;
}